server:
  port: 8082
  servlet:
    context-path: '/ead-course/'

spring:
  application:
    name: ead-course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-course-v2
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
      jdbc:
        lob.non_contextual_creation: true
    properties:
      hibernate:
        show_sql: true
  output:
    ansi:
      enabled: always
  rabbitmq:
    addresses: amqps://waewnomu:Ajkb8YNGjdFv2NgD0GpPBMQhqtiVu1ID@moose.rmq.cloudamqp.com/waewnomu

logging:
  level:
    com.ead: trace
    root: info
    org.springframework.web: debug
    org.hibernate: debug

ead:
  api:
    url:
      authuser: 'http://ead-authuser-service/ead-authuser'


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: 'http://localhost:8761/eureka'
    instance:
      hostname: localhost
      prefer-ip-address: true